/* GENERAL PAGE STYLE */
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVIGATION BAR */
nav {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

nav .logo {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* COMMON CONTAINER */
.container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

/* ---------------- PAGE BACKGROUNDS ---------------- */
.home-bg {
    background: linear-gradient(to bottom right, #dfe9f3, #ffffff);
}

.about-bg {
    background: linear-gradient(to bottom right, #fef6e4, #ffffff);
}

.events-bg {
    background: linear-gradient(to bottom right, #e8fff3, #ffffff);
}

.join-bg {
    background: linear-gradient(to bottom right, #f2e8ff, #ffffff);
}

/* HOME PAGE */
.home-box {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

/* ABOUT PAGE */
.about-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* EVENTS PAGE */
.events-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.event-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    width: 30%;
}

/* JOIN PAGE FORM CENTER */
.form-wrapper {
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    display: flex;
    
}


/* JOIN PAGE FORM */
form {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #555;
}